$boxshadow: 0px 4px 5px 0px rgba(0,0,0,0.1);

#nav_menu-2 {
    margin-top: -10px;
    width: 100%;
    .menu-sidebar-1-container {
        ul {
            list-style-type: none;
            color: white;
            padding: 0;
            
            li {
                margin-top: 10px;
                box-shadow: $boxshadow;

                a {
                    color: white;
                    background: #28a533;
                    padding: 5px;
                    padding-left: 10px;
                    width: 100%;
                    display: block;
                    //border-bottom: 4px solid #28a533;
                    border-radius: 5px 5px 0 0;

                    &:hover {
                        text-decoration: none;
                        background: rgb(211, 211, 211);
                    }
                }

                ul {
                    li {
                        margin-top: 0;
                        a {
                            background: white;
                            padding-left: 14px;
                            border: none;
                            color: rgba(0,0,0,0.6);
                            border-radius: 0;
                            border: 1px solid rgba(0,0,0,0.1);
                            border-top: none;
                        }

                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
/*.object-card {

    
}*/
.object-container {
    padding: 0;
    margin-bottom: 16px;
    border:1px solid #ddd;
    box-shadow: $boxshadow;
    margin-left: 0px;
    overflow: hidden;

    .col-8 {
        padding: 0;
    }
}

.object-carousel {
    padding: 0;
    height: 250px;
}

.carousel-img {
    min-height: 250px;
}

.object-title {
    margin-top: 16px;
    a {
        line-height: 1rem;
    }
}

.object-container:hover {
    border:1px solid #28a533;
}

.object-info-container {
    overflow:auto;
    .object-title {
        color: #1493bc;
        line-height: 1.3;
        font-size: 18px;
        font-weight: 400;
    }
    
    .fa-home {
        color: #28a533;
    }
    .adress, .description{
        color: #656565;
        font-size: 14px;
        line-height: 20px;
    }
    
    .utgangsbud, .boarea, .antal-rum {
        font-size: 16px;
        font-weight: 700;
    }
}

.single-object-container {
    border-top: 1px solid #c5c0c0;
}

.single-title {
    font-size: 28px;
    font-weight: 500;
    color: #333;
}

.single-utgangsbud {
    font-size: 18px;
    color: #333;
    margin:0;
}

.next-object {
    color: #1493bc;
    line-height: 1.3;
    font-size: 18px;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
}

.jbf-transparent-primary {
    background: #28a53283;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 0;

    h5 {
        margin: 0;
    }
}

.omoss-content-container {

    .omoss-container {
        padding: 20px;
        margin-bottom: 16px;
        max-width: 50vw;
        margin-left: 0px;
        overflow: hidden;
        
        .omoss-title {
            font-size: 24px;
            color: #28a533;
        }
        .omoss-paragrafs {
            font-size: 16px;
        }
    }

    .kontakt-content-container {
        padding: 20px;
        margin-bottom: 16px;
        max-width: 50vw;
        .wpcf7, .kontakt-contact-form {
        float: left;
        }
    }

}

.hidden  {
    display: none;
}

.collapsed {
    height: 0;
    overflow: hidden;
}

#jbf-search {
    width: 100%;
    #jbf-search-tags {
        .jbf-checkbox {
            label {
                color: white;
                display: inline-block;
                background: rgb(158, 158, 158);
                box-shadow: $boxshadow;
            }
        }
    }

    input[type=submit] {
        box-shadow: $boxshadow;
    }
}
.nav-custom-container {
    .nav-links {
        font-weight: 800;

        .nav-previous {
            float: left;
        }
       .nav-next {
            float: right;
            font-weight: 800;
        }
    }
}

.container-jumbo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    .jumbotron {
        z-index: -1;
        grid-row: 1;
        grid-column: 1/5;
        height: 400px;
    }
    .jumbo-title {
        margin:auto;
        grid-row: 1;
        grid-column: 1/5;
        color: white;
    }
    .jumbo-slogan {
        margin-top: 220px;
        grid-row: 1;
        grid-column: 2/4;
        color: white;
    }
}


